[submodule "aw-core"]
	path = aw-core
	url = https://github.com/ActivityWatch/aw-core.git
[submodule "aw-client"]
	path = aw-client
	url = https://github.com/brazerZa/aw-client.git
	branch = custom-headers
[submodule "aw-server"]
	path = aw-server
	url = https://github.com/brazerZa/aw-server.git
	branch = custom-headers
[submodule "aw-qt"]
	path = aw-qt
	url = https://github.com/brazerZa/aw-qt.git
	branch = custom-headers
[submodule "aw-server-rust"]
	path = aw-server-rust
	url = https://github.com/ActivityWatch/aw-server-rust.git
[submodule "aw-notify"]
	path = aw-notify
	url = https://github.com/brazerZa/aw-notify.git
	branch = custom-headers
[submodule "aw-watcher-input"]
	path = aw-watcher-input
	url = https://github.com/brazerZa/aw-watcher-input.git
	branch = custom-headers
[submodule "aw-watcher-afk"]
	path = aw-watcher-afk
	url = https://github.com/brazerZa/aw-watcher-afk.git
	branch = custom-headers
[submodule "aw-watcher-window"]
	path = aw-watcher-window
	url = https://github.com/brazerZa/aw-watcher-window.git
	branch = custom-headers
